body{
	background-image: url("image/explosion.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 98vh;
}

.image {
	left: 0px;
	bottom:0px;
	height: 350px;
	position: absolute;
}